<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} Bootstrap CSS {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Boku&family=Yuji+Syuku&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} | 本棚アプリ</title>
    <style>body{font-family: "Yuji Syuku", serif;}</style>
</head>
<body>
    <nav class="navbar navbar-dark bg-success sticky-top">
        <div class="navbar-nav d-flex flex-row">
    <a href="{% url 'list-book' %}" class="nav-link mx-3">書籍一覧</a>
    {% if user.is_authenticated %}
              <a href="{% url 'create-book' %}" class="nav-link mx-3">書籍登録</a>
              <a href="{% url 'favorite-list' %}" class="nav-link mx-3">お気に入りリスト</a>
          {% endif %}
</div>
<form class="d-flex" role="search" action="{% url 'search-book' %}" method="get">
            <input class="form-control me-2" type="search" placeholder="タイトルや内容で検索" aria-label="Search" name="q" value="{{ search_query }}">
            <button class="btn btn-outline-light" type="submit">検索</button>
</form>
<div class="navbar-nav d-flex flex-row">
    {% if user.is_authenticated %}
        <span class="navbar-text mx-3">{{ user }}でログイン中</span>
        <a href="{% url 'logout' %}" class="nav-link mx-3">ログアウト</a>
    {% else %}
        <a href="{% url 'login' %}" class="nav-link mx-3">ログイン</a>
        <a href="{% url 'accounts:signup' %}" class="nav-link mx-3">会員登録</a>
    {% endif %}
</div>
        
    </nav>
    <div class="p-4">
        <h1>{% block h1 %}{% endblock %}</h1>
        {% if messages %}
            <ul class="messages list-unstyled">
                {% for message in messages %}
                    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>